<div class="card mat-card ml-auto" id="footer">
    <div class="redes2" id="redes2">
      <a href="https://www.instagram.com/walterliendook/" target="_blank" rel="noopener">
        <img src="https://liendo.s3.sa-east-1.amazonaws.com/insta.png" title="Instagram"></a>
      <a href="https://www.facebook.com/walterliendook/" target="_blank" rel="noopener">
        <img src="https://liendo.s3.sa-east-1.amazonaws.com/face.png" title="Facebook"></a>
      <a href="https://www.linkedin.com/in/walter-liendo-7204b854" target="_blank" rel="noopener">
        <img src="https://liendo.s3.sa-east-1.amazonaws.com/logolinkedin.jpg" title="Linkedin"></a>
      <a href="https://github.com/Walter185" target="_blank" rel="noopener">
        <img src="https://liendo.s3.sa-east-1.amazonaws.com/git.png" title="Github"></a>
      <a href="https://twitter.com/walterliendook" target="_blank" rel="noopener">
        <img src="https://liendo.s3.sa-east-1.amazonaws.com/logotwitter.png" title="Twitter"></a>
        <p>Info de contacto: e-mail <b>walter.liendo@gmail.com       </b>   <i class="fa fa-whatsapp" aria-hidden="true"></i>+5491158465481
      Design by Walter Liendo - Copyright © 2022  -</p></div>
  </div>
  <br>